h1 {
    color: orange;
    font-size: 65px;
    font-family: sans-serif;
}
p{
    font-weight: 600;
    font-size: 3em;
}
body {
    font-size: 16px;
}
ul {
    background-color: red;
    font-style: italic;
    line-height: 40px;
    text-align: center;
    text-decoration: overline;



}
.Cor_lista{
    background-color: rgb(33, 164, 124);
}
#amarelo {
    background-color: yellow;
}
#vermelho {
    background-color: red;
}
#marrom {
    background-color: brown;
}