body {
  margin: 20px;
}
h1 {
  font-size: x-large;
  text-align: center;
}
h2 {
  font-size: large;
  text-align: center;
}

p {
  font-size: 17px;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
  padding: 30px;
}

@media only screen and (min-width: 650px) and (max-width: 900px) {
  p {
    font-size: 27px;
  }

  h1 {
    font-size: xx-large;
    text-align: center;
  }

  h2 {
    font-size: x-large;
  }

  figure {
    padding: 40px;
    text-align: center;
  }

  body {
    margin: 70px;
    background-color: darkkhaki;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1300px) {
  p {
    font-size: 37px;
  }

  h1 {
    font-size: xxx-large;
  }

  h2 {
    font-size: xx-large;
  }

  div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 35%;
    height: 40%;
  }

  image {
    width: 40%;
    object-fit: cover;
  }

  body {
    margin: 110px;
    background-color: darkgoldenrod;
  }
}

@media only screen (min-width: 1300px);
